#globe-group {
	position: sticky;
	top: var(--globe-margin);
	margin: 0 auto;
	z-index: 2;
}
#globe {
	position: relative;
	width: var(--globe-size);
	height: var(--globe-size);
	margin: 0 auto;
	pointer-events: none;
}
#globe canvas, #globe svg {
	position: absolute;
	width: 100%;
	height: 100%;
}
#globe-texture {
	border-radius: 100%;
	pointer-events: auto;
	touch-action: none;
	cursor: grab;
}
#globe.dragging #globe-texture {
	cursor: grabbing;
}
#reverse-globe {
	position: absolute;
	bottom: var(--current-map-label-size);
	left: calc( (100% - var(--globe-size))/2 );
	width: 58px;
	height: 60px;
	padding: 0;
	border: 1px solid var(--action-colour);
	border-radius: 4px;
	color: #919191;
	background: var(--page-bg);
	cursor: pointer;
	pointer-events: auto;
}
#reverse-texture {
	width: 40px;
	height: 40px;
	opacity: 0.7;
	border-radius: 100%;
}
#globe #globe-overlay {
	overflow: visible;
	border-radius: 100%;
	box-shadow: inset 0em 0em 30px 5px #0008;
}
#globe-overlay .label {
	fill: var(--white-shade-1);
	font-family: "CMU Serif";
	font-weight: bold;
	font-size: 8px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-anchor: middle;
	stroke: #0005;
	paint-order: stroke;
	stroke-width: 5;
}
#globe-overlay .continent.label {
	font-family: "CMU Classical Serif";
	font-size: 12px;
	letter-spacing: 0;
	text-transform: none;
	stroke: #0009;
	stroke-width: 3;
	fill: var(--white-shade-2);
	cursor: pointer;
	pointer-events: auto;
}
#globe-overlay .continent.label:hover,
#globe-overlay .continent.label.tracked {
	fill: #fff;
	stroke: #000d;
}
#globe #globe-overlay .graticule path {
	stroke: #fff8;
	fill: none;
	pointer-events: none;
}
#globe #globe-overlay #meridian {
	stroke-dasharray: 2;
}
#globe-overlay .graticule .label {
	transform: translateY(-0.7em);
}
#globe-overlay .poles polyline {
	stroke: #eeec;
	stroke-width: 1px;
	marker-start: url("#pole-marker");
}
#globe-overlay .poles polyline.stroke {
	stroke: #000a;
	stroke-width: 2px;
	marker-start: none;
}
#pole-marker circle {
	fill: #eeec;
	stroke: #000a;
	stroke-width: 1px;
}
#drag-indicator {
	stroke: #fffc;
	stroke-width: 1px;
	stroke-dasharray: 2;
	fill: #fff4;
	filter: drop-shadow(0 0 2px #000c);
	animation: dash 2s linear infinite;
	transition-property: opacity, stroke-width;
	transition-duration: 100ms;
}
#globe:not(.dragging) #drag-indicator {
	opacity: 0;
}
@keyframes dash {
	to {
		stroke-dashoffset: -2%;
	}
}

@media (max-width: 700px) {
	#globe-group {
		top: 0;
		margin-right: calc(var(--scrubber-width) + var(--life-events-list-margin));
		padding-top: var(--globe-top-padding);
		background-color: var(--page-bg);
	}
}
