#globe-group {
	position: sticky;
	top: var(--globe-margin);
	margin: 0 auto;
	z-index: 2;
	touch-action: none;
	/* prevent pointer capture over story text */
	pointer-events: none;
}
#globe-group > * {
	pointer-events: auto;
}
#globe {
	position: relative;
	width: var(--globe-size);
	height: var(--globe-size);
	margin: 0 auto;
	border-radius: 100%;
	touch-action: pinch-zoom;
	cursor: grab;
}
#globe.dragging {
	cursor: grabbing;
}
#globe canvas, #globe svg {
	position: absolute;
	width: 100%;
	height: 100%;
}
#globe-texture {
	border-radius: 100%;
}
#reverse-globe {
	position: absolute;
	bottom: var(--current-map-label-size);
	left: calc( (100% - var(--globe-size))/2 );
	width: 58px;
	height: 60px;
	padding: 0;
	border: 1px solid var(--action-rgb);
	border-radius: 4px;
	color: var(--grey-on-black);
	background: var(--page-bg);
	z-index: 1; /* put above current map year label */
	cursor: pointer;
	pointer-events: auto;
}
#reverse-texture, #reverse-vector {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

#reverse-globe:not(:hover) #reverse-texture, 
#reverse-globe:not(:hover) #reverse-vector {
	opacity: 0.7;
}
#reverse-vector {
	position: absolute;
	left: 50%;
	margin: auto;
	transform: translateX(-50%);
	box-shadow: inset 0 0 5px 1px #0008;
}
#globe-overlay {
	--shadow-strength: 0.5;
	overflow: visible;
	border-radius: 100%;
	box-shadow: inset 0 0 30px 5px rgba(0,0,0, var(--shadow-strength));
}


/* vector map */
.reconstruction .countries path {
	pointer-events: none;
	/* temporary style */
	fill: none;
	stroke: #666;
	stroke-width: 1px;
}
.reconstruction .craton-path {
	pointer-events: auto;
	cursor: pointer;
	fill: var(--land-dark-hex);
}
.reconstruction g.craton:hover .countries,
.reconstruction g.craton.hovering .countries {
	clip-path: none;
}
.reconstruction g.craton:hover .countries path,
.reconstruction g.craton.hovering .countries path {
	stroke: #fff; /* temporary style */
}

body:not([data-map-type="vector"]) .reconstruction {
	display: none;
}

body:not([data-map-type="texture"]) #globe-texture,
body:not([data-map-type="texture"]) #reverse-texture {
	visibility: hidden;
}
body:not([data-map-type="texture"]) #globe #globe-overlay {
	--shadow-strength: 0.3;
}
body:not([data-map-type="texture"]) #globe #globe-overlay,
body:not([data-map-type="texture"]) #reverse-vector {
	background-color: #2B2B2B;
}
body:not([data-map-type="texture"]) #globe-overlay #meridian {
	display: none;
}


/* labels and indicators */
#globe-overlay .label {
	fill: var(--white-shade-1);
	font-family: "CMU Serif";
	font-weight: bold;
	font-size: 8px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-anchor: middle;
	stroke: #0005;
	paint-order: stroke;
	stroke-width: 5;
}
#globe-overlay .continent.label {
	font-family: "CMU Classical Serif";
	font-size: 12px;
	letter-spacing: 0;
	word-spacing: -2px; /* CMU Classical has wide spaces between words */
	text-transform: none;
	stroke: #0009;
	stroke-width: 3;
	fill: var(--white-shade-2);
	cursor: pointer;
	pointer-events: auto;
}
#globe-overlay .continent.label:hover,
#globe-overlay .continent.label.hovering,
#globe-overlay .continent.label.tracked {
	fill: #fff;
	stroke: #000d;
}
#globe #globe-overlay .graticule path {
	stroke: #fff8;
	fill: none;
	pointer-events: none;
}
#globe #globe-overlay #meridian {
	stroke-dasharray: 2;
}
#globe-overlay .graticule .label {
	transform: translateY(-0.7em);
}
#globe-overlay .poles polyline {
	stroke: #eeec;
	stroke-width: 1px;
	marker-start: url("#pole-marker");
}
#globe-overlay .poles polyline.stroke {
	stroke: #000a;
	stroke-width: 2px;
	marker-start: none;
}
#pole-marker circle {
	fill: #eeec;
	stroke: #000a;
	stroke-width: 1px;
}
#drag-indicator {
	stroke: #fffc;
	stroke-width: 1px;
	stroke-dasharray: 2;
	fill: #fff4;
	filter: drop-shadow(0 0 2px #000c);
	pointer-events: none;
	animation: dash 2s linear infinite;
	transition-property: opacity, stroke-width;
	transition-duration: 100ms;
}
#globe:not(.dragging) #drag-indicator {
	opacity: 0;
}
@keyframes dash {
	to {
		stroke-dashoffset: -2%;
	}
}

/* no map available */
#globe-overlay #no-map-message {
	font-family: "CMU Classical Serif";
	font-size: 14px;
	font-weight: 300;
	line-height: 100%;
	word-spacing: -2px; /* CMU Classical has wide spaces between words */
	fill: var(--white-shade-2);
	text-anchor: middle;
}
body:not([data-map-type="none"]) #globe-overlay #no-map-message {
	display: none;
}
body[data-map-type="none"] #globe {
	pointer-events: none;
}
body[data-map-type="none"] #globe-overlay {
	box-shadow: none;
}
body[data-map-type="none"] #globe-texture,
body[data-map-type="none"] #globe-overlay .reconstruction,
body[data-map-type="none"] #globe-overlay .poles,
body[data-map-type="none"] #globe-overlay .graticule,
body[data-map-type="none"] #globe-overlay .continent-labels {
	display: none;
}
body[data-map-type="none"] #reverse-globe {
	display: none;
}

@media (max-width: 700px) {
	#globe-group {
		top: 0;
		margin-right: calc(var(--scrubber-width) + var(--life-events-list-margin));
		padding-top: var(--globe-top-padding);
		background-color: inherit;
	}
}
