@import 'timeline.css';
@import 'globe.css';

@font-face {
	font-family: "Philibert Italic";
	src: local("Philibert Italic Rush"), 
		 url("../assets/fonts/PhiliItaRus.woff") format("opentype");
	font-weight: 300;
}
/* Philibert by Open Source Publishing http://osp.kitchen/foundry/philibert */

@font-face {
	font-family: "CMU Serif";
	src: local("CMU Serif Roman"),
		 local("Computer Modern Serif"),
		 url("../assets/fonts/cmunrm.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CMU Serif";
	src: local("CMU Serif Bold"), 
		 url("../assets/fonts/cmunbx.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "CMU Classical Serif";
	src: local("CMU Classical Serif Italic"), 
		 url("../assets/fonts/cmunci.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
/* CMU font files packaged by https://checkmyworking.com/cm-web-fonts */

html {
	--white-shade-1: #E5E5E5;
	--white-shade-2: #C4C4C4;
	--grey-on-black: #919191;
	--page-bg: #121212;
	--page-bg-rgb: 18, 18, 18;
	--action-hex: #A58A45;
	--action-extradark-rgb: 87, 71, 33;
	--action-dark-hex: #6B5A34;
	--action-light-hex: #C9A432;
	--action-extralight-hex: #F5CB55;
	--land-dark-hex: #6B3F2C;
	--land-light-rgb: 146, 88, 63;
	--land-light-on-action-rgb: 166, 99, 60;
	--story-padding: 2.5rem;
	--globe-size: calc(100vmin - var(--globe-margin)*2 - var(--scrubber-width));
	--globe-margin: 5rem;
	--current-map-label-size: 1.25rem;
	--scrubber-width: 64px;
	--life-events-list-margin: 32px;
	font-family: "CMU Serif";
	font-size: 16px;
}
@media (max-width: 700px) {
	html {
		--story-padding: 1rem;
		--globe-size: min(calc(100vh - 20rem), calc(100vmin - var(--globe-margin)*2 - var(--scrubber-width)));
		--globe-top-padding: 2rem;
		--globe-margin: 1.5rem;
		--scrubber-width: 24px;
		--life-events-list-margin: 10px;
	}
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--page-bg);
	color: var(--white-shade-1);
}

h1, h2, h3, #current-map-label {
	font-family: "Philibert Italic", "CMU Classical Serif";
	word-spacing: -0.07em;
}
h2.hidden {
	/* hide from view but keep in document outline */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
button {
	font-family: "CMU Serif";
	font-size: 9px;
	line-height: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	color: inherit;
}


#current-map-label {
	font-size: var(--current-map-label-size);
	line-height: var(--current-map-label-size);
	text-align: center;
	margin: 0 auto;
	padding: 1em 0;
}
@media (max-width: 700px) {
	#current-map-label {
		width: 61.8%; /* 1 / 1.618 */
		border-bottom: 1px solid #666;
	}
}
@media (max-width: 410px) {
	#current-map-label {
		font-size: calc(9.5vw - 19px);
	}
}

#stories {
	--vert-rhythm: 20px;
	--stroke-width: 2px;
	--stroke-padding: 8px;
	max-width: 22rem;
	padding-bottom: 100vh;
}
#stories h3 {
	font-size: 20px;
	margin: 0;
	line-height: var(--vert-rhythm);
}
#stories article {
	color: var(--white-shade-1);
	position: relative;
}
#stories article.bio {
	min-height: 100vh;
	padding: var(--vert-rhythm) var(--story-padding);
}
#stories .time {
	font-family: "CMU Serif";
	font-size: 12px;
	line-height: var(--vert-rhythm);
	opacity: 0.8;
}
#stories abbr {
	font-variant-caps: all-small-caps;
	font-size: 0.9em;
	text-underline-offset: 0.3em;
	text-decoration-color: var(--white-shade-2);
}
#stories p {
	font-family: "CMU Serif";
	font-size: 15px;
	line-height: var(--vert-rhythm);
	margin: var(--vert-rhythm) 0;
	word-spacing: -2px;
	hyphens: manual;
}
#stories strong {
	color: #fff;
}
#stories hr {
	width: 3em;
	border-style: solid;
	margin: var(--vert-rhythm) 0;
}
#stories aside.geological {
	border-color: rgb(var(--land-light-rgb));
	margin-left: var(--story-padding);
	padding: calc(var(--vert-rhythm) / 2) var(--stroke-padding);
	margin-bottom: calc(var(--vert-rhythm) / 2);
}
#stories aside.geological,
#stories #boring-billion {
	border-left-width: var(--stroke-width);
	border-left-style: solid;
	/* padding determines overhang distance of stroke */
	padding-top: calc(var(--vert-rhythm) / 2);
	padding-bottom: calc(var(--vert-rhythm) / 2);
}
#stories article aside.geological {
	margin-left: 0;
}
#stories aside.geological h3 {
	font-family: "CMU Serif";
	text-transform: uppercase;
	font-size: 11px;
}
#stories aside.geological h3 + p {
	margin-top: calc(var(--vert-rhythm) / 2);
}
#stories aside.geological p:last-child {
	margin-bottom: 0;
}
/* geological event related to previous artice */
#stories article p + aside.geological {
	margin-top: calc(var(--vert-rhythm) / -2);
	padding-top: var(--vert-rhythm);
}
#stories .map-spacer {
	/* extra space to keep last texture map on screen */
	height: 200vh;
}


#stories #snowball-earth {
	border-color: var(--white-shade-2);
}


#precambrian-intro {
	width: 100vw;
}
#precambrian-intro div {
	position: relative;
	z-index: 2;
	max-width: 30em;
	margin: auto;
	background-color: #222;
	padding: 5em 6em;
	transform: translateY(-80vh);
}


#stories #boring-billion {
	border-left-style: dashed;
	border-color: var(--grey-on-black);
	margin-left: calc(var(--story-padding) - var(--stroke-padding) - var(--stroke-width));
	padding: var(--stroke-padding);
	padding-bottom: 0;
}
#stories #boring-billion .geological.end {
	padding-bottom: 40vh;
	margin-bottom: 0;
}
#stories #boring-billion #nuna-breakup {
	padding-bottom: 85vh;
}
#stories #boring-billion .geological.end + .geological {
	margin-top: 0;
	margin-bottom: 120vh;
}


@media (max-width: 700px) {
	#stories {
		--top-panel-height: var(--globe-size) + var(--globe-top-padding) + var(--current-map-label-size)*3;
		max-width: 35rem;
	}
	#stories article, #stories aside.geological {
		scroll-margin-top: calc(var(--top-panel-height));
	}
	#stories > *, #stories #precambrian-intro {
		margin-right: calc(var(--scrubber-width) + var(--life-events-list-margin));
	}
	#stories article.bio {
		min-height: calc(100vh - (var(--top-panel-height)));
	}
	#stories p {
		font-size: 1rem;
	}
	#stories .map-spacer {
		height: 15em;
	}
	#precambrian-intro {
		--curtain-offset: 480px;
		min-height: 0;
		margin-top: calc(var(--top-panel-height) + var(--curtain-offset));
		margin-bottom: calc(5em - var(--curtain-offset));
	}
	#precambrian-intro div {
		padding: 2em;
		transform: translateY(calc(-1 * var(--curtain-offset) - (var(--top-panel-height))));
	}
	#stories #boring-billion .geological.end + .geological {
		margin-bottom: 25em;
	}
}

@media not (prefers-reduced-motion) {
	html {
		scroll-behavior: smooth;
	}
	#stories {
		transition: opacity 500ms;
	}
	#stories.switching {
		opacity: 0.2;
		transition-duration: 100ms;
	}
}
