@import 'timeline.css';
@import 'globe.css';

@font-face {
	font-family: "Philibert Italic";
	src: local("Philibert Italic Rush"), 
		 url("../assets/fonts/PhiliItaRus.woff") format("opentype");
	font-weight: 300;
}
/* Philibert by Open Source Publishing http://osp.kitchen/foundry/philibert */

@font-face {
	font-family: "CMU Serif";
	src: local("CMU Serif Roman"),
		 local("Computer Modern Serif"),
		 url("../assets/fonts/cmunrm.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CMU Serif";
	src: local("CMU Serif Bold"), 
		 url("../assets/fonts/cmunbx.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "CMU Classical Serif";
	src: local("CMU Classical Serif Italic"), 
		 url("../assets/fonts/cmunci.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
/* CMU font files packaged by https://checkmyworking.com/cm-web-fonts */

html {
	--white-shade-1: #E5E5E5;
	--white-shade-2: #C4C4C4;
	--grey-on-black: #919191;
	--page-bg: #121212;
	--page-bg-rgb: 18, 18, 18;
	--action-rgb: #A58A45;
	--action-extradark-rgb: 87, 71, 33;
	--action-dark-hex: #6B5A34;
	--action-light-hex: #C9A432;
	--action-extralight-hex: #F5CB55;
	--land-dark-hex: #6B3F2C;
	--land-light-rgb: 146, 88, 63;
	--land-light-on-action-rgb: 166, 99, 60;
	--story-padding: 2.5rem;
	--globe-size: calc(100vmin - var(--globe-margin)*2 - var(--scrubber-width));
	--globe-margin: 5rem;
	--current-map-label-size: 1.25rem;
	--scrubber-width: 64px;
	--life-events-list-margin: 32px;
	font-family: "CMU Serif";
	font-size: 16px;
}
@media (max-width: 700px) {
	html {
		--story-padding: 1rem;
		--globe-size: min(calc(100vh - 20rem), calc(100vmin - var(--globe-margin)*2 - var(--scrubber-width)));
		--globe-top-padding: 3rem;
		--globe-margin: 1.5rem;
		--scrubber-width: 24px;
		--life-events-list-margin: 10px;
		--current-map-label-size: 0.875rem;
	}
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--page-bg);
	color: var(--white-shade-1);
}

h1, h2, #current-map-label {
	font-family: "Philibert Italic", "CMU Classical Serif";
}
button {
	font-family: "CMU Serif";
	font-size: 9px;
	line-height: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	color: inherit;
}


#current-map-label {
	font-size: 1.25rem;
	line-height: 1em;
	text-align: center;
	margin: 0 auto;
	padding: 1em 0;
}
@media (max-width: 700px) {
	#current-map-label {
		font-size: var(--current-map-label-size);
		width: 61.8%; /* 1 / 1.618 */
		border-bottom: 1px solid #666;
	}
}

#stories {
	max-width: 22rem;
	padding-bottom: 100vh;
}
#stories h2 {
	font-size: 20px;
	margin: 0;
	line-height: 1em;
}
#stories article {
	min-height: 100vh;
	color: var(--white-shade-1);
	padding: var(--story-padding);
	position: relative;
}
#stories .time {
	font-family: "CMU Serif";
	font-size: 12px;
}
#stories .time abbr {
	font-size: 8px;
	font-weight: bold;
	text-underline-offset: 0.3em;
	text-decoration-color: var(--white-shade-2);
	text-transform: uppercase;
}
#stories p {
	font-family: "CMU Serif";
	font-size: 15px;
	line-height: 20px;
	word-spacing: -2px;
	hyphens: manual;
}
@media (max-width: 700px) {
	#stories {
		max-width: 35rem;
	}
	#stories article {
		--scroll-margin: var(--globe-size) + var(--globe-top-padding) + var(--current-map-label-size)*3;
		scroll-margin-top: calc(var(--scroll-margin));
		margin-right: calc(var(--scrubber-width) + var(--life-events-list-margin));
		min-height: calc(100vh - var(--scroll-margin));
	}
}

@media not (prefers-reduced-motion) {
	html {
		scroll-behavior: smooth;
	}
	#stories {
		transition: opacity 500ms;
	}
	#stories.switching {
		opacity: 0.2;
		transition-duration: 100ms;
	}
}
