@import 'timeline.css';
@import 'globe.css';

@font-face {
	font-family: "Philibert Italic";
	src: local("Philibert Italic Rush"), 
		 url("../assets/fonts/PhiliItaRus.woff") format("opentype");
	font-weight: 300;
}
/* Philibert by Open Source Publishing http://osp.kitchen/foundry/philibert */

@font-face {
	font-family: "CMU Serif";
	src: local("CMU Serif Roman"),
		 local("Computer Modern Serif"),
		 url("../assets/fonts/cmunrm.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CMU Serif";
	src: local("CMU Serif Bold"), 
		 url("../assets/fonts/cmunbx.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "CMU Classical Serif";
	src: local("CMU Classical Serif Italic"), 
		 url("../assets/fonts/cmunci.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
/* CMU font files packaged by https://checkmyworking.com/cm-web-fonts */

html {
	--white-shade-1: #E5E5E5;
	--white-shade-2: #C4C4C4;
	--grey-on-black: #919191;
	--page-bg: #121212;
	--page-bg-rgb: 18, 18, 18;
	--action-hex: #A58A45;
	--action-extradark-rgb: 87, 71, 33;
	--action-dark-hex: #6B5A34;
	--action-light-hex: #C9A432;
	--action-extralight-hex: #F5CB55;
	--paper-white-hex: #FAF0DB;
	--land-dark-hex: #6B3F2C;
	--land-light-rgb: 146, 88, 63;
	--land-light-on-action-rgb: 166, 99, 60;
	--max-spacer-height: min(100vh, 225vw);
	--vert-rhythm: 20px;
	--story-padding: 2.5rem;
	--globe-size: calc(100vmin - var(--globe-margin)*2 - var(--scrubber-width));
	--globe-margin: 5rem;
	--globe-top-padding: var(--globe-margin);
	--current-map-label-size: 1.25rem;
	--scrubber-width: 64px;
	--scrubber-vert-margin: 3rem;
	--life-events-list-margin: 32px;
	--timeline-safe-width: calc(var(--scrubber-width) + var(--life-events-list-margin));
	font-family: "CMU Serif";
	word-spacing: -1px;
	font-size: 16px;
	/* set 100vh on root, so js can use element height 
	to determine viewport height without mobile address bar */
	height: 100vh;
}
@media (max-width: 700px) {
	html {
		--story-padding: 1rem;
		--globe-size: min(calc(100vh - 20rem), calc(100vmin - var(--globe-margin)*2 - var(--scrubber-width)));
		--globe-margin: 1.5rem;
		--globe-top-padding: calc(var(--globe-margin) + 2rem);
		--scrubber-width: 24px;
		--life-events-list-margin: 10px;
		--scrubber-vert-margin: 4.5rem;
	}
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--page-bg);
	color: var(--white-shade-1);
}

h1, h2, h3, h4, #current-map-label {
	font-family: "Philibert Italic", "CMU Classical Serif";
	word-spacing: -0.07em;
}
h2.hidden {
	/* hide from view but keep in document outline */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	height: 0;
}
p {
	font-family: "CMU Serif";
	line-height: var(--vert-rhythm);
	margin: var(--vert-rhythm) 0;
	word-spacing: -1px;
	hyphens: manual;
}
p[role="note"] {
	font-style: italic;
	font-family: "CMU Classical Serif";
	word-spacing: -2px; /* CMU Classical has wide spaces between words */
}
p.instruction {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}
br + p {
	margin-top: 0;
}
button {
	font-family: "CMU Serif";
	font-size: 9px;
	line-height: 10px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	color: inherit;
}
a {
	color: var(--white-shade-2);
	text-decoration-thickness: 1px;
	text-decoration-color: var(--action-hex);
}
a:hover {
	color: inherit;
	text-decoration-thickness: 2px;
}


#current-map-label {
	font-size: var(--current-map-label-size);
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	padding: 1em 0;
	display: inline-block;
}
@media (max-width: 700px) {
	#current-map-label {
		width: 61.8%; /* 1 / 1.618 */
		border-bottom: 1px solid #666;
	}
}
@media (max-width: 410px) {
	html {
		--current-map-label-size: calc(9.5vw - 19px);
	}
}

#cover, #intro {
	background-color: var(--paper-white-hex);
	color: var(--page-bg);
	/* position relative and z-index to draw above timeline */
	position: relative;
	z-index: 4;
}
#cover {
	--vert-rhythm: 22px;
	height: var(--max-spacer-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
h1 {
	font-size: 33px;
	font-weight: normal;
	line-height: 1;
	margin: var(--vert-rhythm) auto;
}
.ampersand {
	font-family: "CMU Classical Serif";
	font-size: 0.66em;
	font-weight: bold;
}
#cover p {
	font-style: italic;
	font-family: "CMU Classical Serif";
	font-size: 18px;
	max-width: 17em;
	margin: 0 auto;
}
#cover :first-child {
	margin-top: 0;
}
#intro {
	--intro-padding: 32px;
	--vert-rhythm: 28px;
	font-size: 18px;
	/* add side padding to keep content width <26.5em */
	padding: 0 max(var(--intro-padding), (100vw - 26.5em) / 2);
	padding-bottom: calc(5 * var(--intro-padding));
}
#intro p:first-of-type {
	border-top: 1px solid var(--action-dark-hex);
	padding-top: var(--intro-padding);
	margin-top: 0;
}
#intro p:last-of-type {
	margin-bottom: 0;
}
#intro a {
	color: rgb(var(--action-extradark-rgb));
}
#instructions {
	--vert-rhythm: 15px;
	font-size: 12px;
	text-align: center;

	/* draw above globe */
	position: relative;
	z-index: 2;
	background-color: rgba(34, 34, 34, 0.8);
	padding: var(--vert-rhythm);

	/* add side margin to constraint width, while aligning with globe */
	--max-width: min(var(--globe-size), 29em);
	--extra-right-space: 0px;
	--side-margin: calc(((100% - var(--extra-right-space)) - var(--max-width)) / 2);
	margin-left: var(--side-margin);
	margin-right: calc(var(--side-margin) + var(--extra-right-space));

	/* move up to just below equator */
	margin-top: calc(-1 * (var(--globe-size) / 2 + var(--current-map-label-size)*3));
	margin-bottom: calc(var(--max-spacer-height) / 2);

	transition-property: opacity, transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
#instructions p {
	word-spacing: normal;
	margin-left: auto;
	margin-right: auto;
	max-width: 22em;
}

#instructions strong {
	color: var(--action-extralight-hex);
}
#globe-group.peek ~ #instructions {
	margin-top: calc(var(--globe-top-padding) + var(--globe-size) / 2);
}
#globe-group:not(.static):not(.peek) ~ #instructions {
	pointer-events: none;
	opacity: 0;
	transform: translateY(-2rem);
}
@media (max-width: 700px) {
	#instructions {
		--extra-right-space: var(--timeline-safe-width);
	}
}


#stories {
	--stroke-width: 2px;
	--stroke-padding: 8px;
	max-width: 22rem;
}
#stories h3 {
	font-size: 20px;
	margin: 0;
	line-height: var(--vert-rhythm);
}
#stories article {
	color: var(--white-shade-1);
	position: relative;
}
#stories article.bio {
	min-height: 100vh;
	padding: var(--vert-rhythm) var(--story-padding);
}
#stories .time {
	font-family: "CMU Serif";
	font-size: 12px;
	line-height: var(--vert-rhythm);
	opacity: 0.8;
}
#stories abbr {
	font-variant-caps: all-small-caps;
	font-size: 0.9em;
	text-underline-offset: 0.3em;
	text-decoration-color: var(--white-shade-2);
}
#stories p {
	font-size: 15px;
}
#stories strong {
	color: #fff;
}
#stories em {
	font-style: italic;
	font-family: "CMU Classical Serif";
}
#stories sub {
	line-height: 1;
}
#stories hr {
	width: 3em;
	border-style: solid;
	margin: var(--vert-rhythm) 0;
}
#stories aside.geological {
	border-color: rgb(var(--land-light-rgb));
	margin-left: var(--story-padding);
	padding: calc(var(--vert-rhythm) / 2) var(--stroke-padding);
	padding-right: var(--story-padding);
	margin-bottom: calc(var(--vert-rhythm) / 2);
}
#stories aside.geological,
#stories #boring-billion {
	border-left-width: var(--stroke-width);
	border-left-style: solid;
	/* padding determines overhang distance of stroke */
	padding-top: calc(var(--vert-rhythm) / 2);
	padding-bottom: calc(var(--vert-rhythm) / 2);
}
#stories article aside.geological {
	margin-left: 0;
}
#stories aside.geological h3 {
	font-family: "CMU Serif";
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-size: 11px;
}
#stories aside.geological h3 + p {
	margin-top: calc(var(--vert-rhythm) / 2);
}
#stories aside.geological p:last-child {
	margin-bottom: 0;
}
/* geological event related to previous artice */
#stories article p + aside.geological {
	margin-top: calc(var(--vert-rhythm) / -2);
	padding-top: var(--vert-rhythm);
}
#stories .geological.form + .geological.break {
	margin-bottom: 0;
}

#stories .map-spacer {
	/* extra space to keep last texture map on screen */
	margin-top: 50vh;
	height: 200vh;
}


#stories #snowball-earth {
	border-color: var(--white-shade-2);
}


#precambrian-intro {
	--globe-cover-translate: 80vh;
	width: 100vw;
	scroll-margin-top: var(--globe-cover-translate);
}
#precambrian-intro div {
	position: relative;
	z-index: 2;
	max-width: 30em;
	margin: auto;
	background-color: #222;
	padding: 5em 6em;
	transform: translateY(calc(-1 * var(--globe-cover-translate)));
}


#stories #boring-billion {
	border-left-style: dashed;
	border-color: var(--grey-on-black);
	margin-left: calc(var(--story-padding) - var(--stroke-padding) - var(--stroke-width));
	padding: var(--stroke-padding);
	padding-bottom: 0;
}
#stories #boring-billion #rodinia-formation {
	padding-top: 40vh;
	margin-bottom: 120vh;
}
#stories #boring-billion #nuna-breakup {
	padding-bottom: 85vh;
}

/* no map available, reduce vertical spacing */
#stories #eukaryotes {
	margin-bottom: 50vh;
}
#stories #eukaryotes ~ article {
	min-height: initial;
	margin-bottom: calc(var(--vert-rhythm) * 10);
}
#stories #eukaryotes ~ article:last-child {
	/* make last story tall enough so references section peeks at bottom */
	/* without covering essential parts of timeline */
	min-height: calc(100vh - (var(--vert-rhythm) * 2) - var(--scrubber-vert-margin) + 1rem);
	margin-bottom: 0;
}


/* references */
#references {
	background-color: var(--paper-white-hex);
	color: var(--page-bg);
	line-height: var(--vert-rhythm);
	/* add side padding to keep content width <40rem */
	padding: max(var(--story-padding), (100vw - 40rem) / 2);
	padding-top: var(--story-padding);
	padding-bottom: calc(var(--story-padding) * 4);
	/* position relative and z-index to draw above timeline */
	position: relative;
	z-index: 4;
}
#references h2, #references h4 {
	font-size: 20px;
	font-weight: normal;
	line-height: 2;
	margin: 0;
}
/* references title */
#references h2 {
	border-bottom: 1.5px solid rgb(var(--action-extradark-rgb));
}
#references h2 a {
	text-decoration: none;
	display: inline-block;
	width: 100%;
}
/* section dividers */
#references h3 {
	font-family: "CMU Serif";
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-size: 11px;
	padding-top: var(--vert-rhythm);
}
#references section h3, #references summary {
	margin-top: calc(var(--vert-rhythm) * 2);
	margin-bottom: var(--vert-rhythm);
	border-bottom: 1px solid var(--action-hex);
}
/* event titles */
#references h4 {
	padding-top: calc(var(--vert-rhythm) / 2);
	margin-bottom: calc(var(--vert-rhythm) / 2);
	border-bottom: 1px solid currentColor;
}
#references p {
	margin: var(--vert-rhythm) 0;
}
#references a {
	color: rgb(var(--action-extradark-rgb));
}
#references a:hover, #references summary:hover {
	color: var(--action-dark-hex);
}
/* accordion title */
#references summary {
	cursor: pointer;
	position: sticky;
	top: 0;
	background-color: var(--paper-white-hex);
}
#references summary h3 {
	display: inline-block;
	border-bottom: none;
	margin: 0;
}
#references article {
	margin-bottom: var(--vert-rhythm);
}
#references article:not(:first-of-type) {
	margin-top: calc(var(--vert-rhythm) * 2);
}
#references ol {
	margin: 0;
	padding: 0;
}
#references li {
	list-style: none;
	margin-bottom: var(--vert-rhythm);
}
#references .citation {
	--hanging-indent: 1em;
	display: block;
	margin-left: var(--hanging-indent);
	text-indent: calc(-1 * var(--hanging-indent));
}
.citation .chapter-title,
.citation .article-title {
	font-style: normal;
}
.citation .larger-work-title,
.citation cite:not(.chapter-title):not(.article-title) {
	font-style: italic;
	font-family: "CMU Classical Serif";
}


@media (max-width: 700px) {
	#stories {
		--top-panel-height: calc(var(--globe-size) + var(--globe-top-padding) + var(--current-map-label-size)*3);
		max-width: 35rem;
	}
	#stories article, #stories aside.geological {
		scroll-margin-top: var(--top-panel-height);
	}
	#stories > *, #stories #precambrian-intro {
		margin-right: var(--timeline-safe-width);
	}
	#stories article.bio {
		min-height: calc(min(100vh, 80em) - var(--top-panel-height));
	}
	#stories p {
		font-size: 1rem;
	}
	#stories .map-spacer {
		height: 15em;
	}
	#precambrian-intro {
		--globe-cover-translate: calc(var(--top-panel-height) + 480px);
		min-height: 0;
		margin-top: calc(var(--globe-cover-translate));
		margin-bottom: calc(5em - var(--globe-cover-translate) + var(--top-panel-height));
	}
	#precambrian-intro div {
		padding: 2em;
		margin-right: var(--scrubber-width);
	}
	#stories #boring-billion .geological.break + .geological.form:not(:last-child) {
		margin-bottom: 25em;
	}
	#stories #eukaryotes ~ article:last-child {
		/* push references section down until peeking at viewport bottom */
		min-height: calc(100vh - var(--top-panel-height) - var(--vert-rhythm) * 5);
	}
}

@media not (prefers-reduced-motion) {
	html {
		scroll-behavior: smooth;
	}
	#stories {
		transition: opacity 500ms;
	}
	#stories.switching {
		opacity: 0.2;
		transition-duration: 100ms;
	}
}
