@import 'timeline.css';

@font-face {
	font-family: "Philibert Italic";
	src: 
		local("Philibert-Italic"), 
		url("/PhiliItaRus.woff") format("opentype");
	font-weight: 300;
}
html {
	--dimmed-white: #C4C4C4;
	font-family: sans-serif;
	font-size: 16px;
}
body {
	margin: 0;
	overflow-x: hidden;
	background: black;
	color: #fff;
}

h1, h2 {
	font-family: "Philibert Italic";
}

canvas, svg {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

#globe {
	position: fixed;
	top: 4rem;
	left: 50%;
}
#globe-texture {
	border-radius: 100%;
	cursor: grab;
}
#globe.dragging #globe-texture {
	cursor: grabbing;
}
#globe > :not(#globe-texture) {
	pointer-events: none;
}
#globe #globe-data * {
	pointer-events: auto;
}
#globe #globe-data {
	overflow: visible;
}
#globe #globe-data .graticule {
	stroke: #fff8;
	fill: none;
	pointer-events: none;
}
#globe #globe-data .graticule.prime-meridian {
	stroke-dasharray: 2;
}
#globe-data .poles .label {
	fill: #fff;
	font-family: "CMU Serif";
	font-size: 11px;
	text-anchor: middle;
	text-shadow: 0 0 2px #000;
}
#globe-data .poles polyline {
	stroke: #eeec;
	stroke-width: 1px;
	marker-start: url(#pole-marker);
}
#globe-data .poles polyline.stroke {
	stroke: #000a;
	stroke-width: 2px;
	marker-start: none;
}
#pole-marker circle {
	fill: #eeec;
	stroke: #000a;
	stroke-width: 1px;
}
#globe-overlay {
	opacity: 0.5;
}

#current-map-label {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.city {
	fill: transparent;
	r: 8px;
	stroke: #eeec;
	stroke-width: 2px;
	cursor: pointer;
	transition: r 100ms ease-in-out;
}
.city.tracked {
	r: 5px;
	stroke-width: 2px;
	stroke: #eee;
}

#stories {
	max-width: 22rem;
	padding-bottom: 100vh;
}
#stories h2 {
	font-size: 20px;
	margin: 0;
	line-height: 1em;
}
#stories article {
	margin: 50vh 0;
	color: #E5E5E5;
	padding: 2.5rem;
	position: relative;
	background-color: #3219;
}
#stories .time {
	font-family: "CMU Serif";
	font-size: 12px;
}
#stories .time abbr {
	font-size: 8px;
	font-weight: bold;
	text-underline-offset: 0.3em;
	text-decoration-color: var(--dimmed-white);
	text-transform: uppercase;
}
#stories p {
	font-family: "CMU Serif";
	font-size: 15px;
	line-height: 20px;
	word-spacing: -2px;
	hyphens: manual;
}

@media not (prefers-reduced-motion) {
	html {
		scroll-behavior: smooth;
	}
}
