@import 'timeline.css';
@import 'globe.css';

@font-face {
	font-family: "Philibert Italic";
	src: local("Philibert Italic Rush"), 
		 url("../assets/fonts/PhiliItaRus.woff") format("opentype");
	font-weight: 300;
}
/* Philibert by Open Source Publishing http://osp.kitchen/foundry/philibert */

@font-face {
	font-family: "CMU Serif";
	src: local("CMU Serif Roman"),
		 local("Computer Modern Serif"),
		 url("../assets/fonts/cmunrm.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CMU Serif";
	src: local("CMU Serif Bold"), 
		 url("../assets/fonts/cmunbx.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "CMU Classical Serif";
	src: local("CMU Classical Serif Italic"), 
		 url("../assets/fonts/cmunci.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
/* CMU font files packaged by https://checkmyworking.com/cm-web-fonts */

html {
	--white-shade-1: #E5E5E5;
	--white-shade-2: #C4C4C4;
	--grey-on-black: #919191;
	--page-bg: #121212;
	--page-bg-rgb: 18, 18, 18;
	--action-hex: #A58A45;
	--action-extradark-rgb: 87, 71, 33;
	--action-dark-hex: #6B5A34;
	--action-light-hex: #C9A432;
	--action-extralight-hex: #F5CB55;
	--paper-white-hex: #FAF0DB;
	--land-dark-hex: #6B3F2C;
	--land-light-rgb: 146, 88, 63;
	--land-light-on-action-rgb: 166, 99, 60;

	--vert-rhythm: 20px;
	--story-padding: 2.5rem;
	--max-spacer-height: min(100vh, 225vw);
	--mya-title-font-size: min(1.25rem, calc(9.5vmin - 19px));
	--globe-clear-height: 5vh;

	--scrubber-width: 64px;
	--scrubber-vert-margin: 3rem;
	--event-marker-clear-width: 32px;
	--event-marker-position-right: calc(var(--scrubber-width) + var(--event-marker-clear-width));

	--stories-safe-width: min(22rem, 45vw);
	--timeline-safe-width: calc(var(--event-marker-position-right) + 10rem);

	--globe-max-width: calc(100vw - var(--globe-clear-height)*2 - var(--stories-safe-width) - var(--timeline-safe-width) - 4rem);
	--globe-max-height: calc(100vh - var(--globe-clear-height)*2 - var(--mya-title-font-size)*3);
	--globe-size: min(var(--globe-max-width), var(--globe-max-height));

	--globe-group-height: calc(var(--globe-size) + var(--mya-title-font-size)*3);
	--globe-panel-safe-height: var(--globe-group-height);
	--globe-vert-offset: calc((100vh - var(--globe-group-height)) / 2);

	font-family: "CMU Serif";
	word-spacing: -1px;
	font-size: 16px;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--page-bg);
	color: var(--white-shade-1);
}

h1, h2, h3, h4, #current-map-label {
	font-family: "Philibert Italic", "CMU Classical Serif";
	word-spacing: -0.07em;
}
h2.hidden {
	/* hide from view but keep in document outline */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	height: 0;
}
p {
	font-family: "CMU Serif";
	line-height: var(--vert-rhythm);
	margin: var(--vert-rhythm) 0;
	word-spacing: -1px;
	hyphens: manual;
}
p[role="note"] {
	font-style: italic;
	font-family: "CMU Classical Serif";
	word-spacing: -2px; /* CMU Classical has wide spaces between words */
}
p.instruction {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}
br + p {
	margin-top: 0;
}
button {
	font-family: "CMU Serif";
	font-size: 9px;
	line-height: 10px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	color: inherit;
}
a {
	color: var(--white-shade-2);
	text-decoration-thickness: 1px;
	text-decoration-color: var(--action-hex);
}
a:hover {
	color: inherit;
	text-decoration-thickness: 2px;
}
::selection {
	background-color: var(--action-extralight-hex);
	color: var(--page-bg);
}


#current-map-label {
	font-size: var(--mya-title-font-size);
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	padding: 1em 0;
	display: inline-block;
}

#cover, #intro,
#precambrian-intro div,
#references {
	background-color: var(--paper-white-hex);
	color: var(--page-bg);
}
#intro a,
#precambrian-intro a,
#references a {
	color: rgb(var(--action-extradark-rgb));
}
#intro a:hover,
#precambrian-intro a:hover,
#references a:hover, #references summary:hover {
	color: inherit;
}
#cover, #intro {
	/* position relative and z-index to draw above timeline */
	position: relative;
	z-index: 4;
}
#cover {
	--vert-rhythm: 22px;
	height: var(--max-spacer-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
h1 {
	font-size: 33px;
	font-weight: normal;
	line-height: 1;
	margin: var(--vert-rhythm) auto;
}
.ampersand {
	font-family: "CMU Classical Serif";
	font-size: 0.66em;
	font-weight: bold;
}
#cover p {
	font-style: italic;
	font-family: "CMU Classical Serif";
	font-size: 18px;
	max-width: 17em;
	margin: 0 auto calc(var(--globe-size) / 2 / 1.618);
}
#cover :first-child {
	margin-top: 0;
}
#intro {
	--intro-padding: 32px;
	--vert-rhythm: 28px;
	font-size: 18px;
	padding: 0 var(--intro-padding);
	padding-bottom: calc(5 * var(--intro-padding));
}
#intro > * {
	max-width: 25.5em;
	margin-left: auto;
	margin-right: auto;
}
#intro p:first-of-type {
	border-top: 1px solid var(--action-dark-hex);
	padding-top: var(--intro-padding);
	margin-top: 0;
}
#intro p:last-of-type {
	margin-bottom: 0;
}
#instructions {
	--vert-rhythm: 15px;
	font-size: 12px;
	text-align: center;

	/* draw above globe */
	position: relative;
	z-index: 2;
	background-color: rgba(34, 34, 34, 0.8);
	padding: var(--vert-rhythm);

	/* add side margin to constrain width, while aligning with globe */
	--max-width: min(var(--globe-size), 29em);
	--safe-width-left: 0px;
	--safe-width-right: 0px;
	--pad-to-center: calc((100% - var(--max-width) - var(--safe-width-left) - var(--safe-width-right)) / 2);
	max-width: var(--max-width);
	margin-left: calc(var(--pad-to-center) + var(--safe-width-left));
	margin-right: calc(var(--pad-to-center) + var(--safe-width-right));

	/* move up to just below equator */
	margin-top: calc(-1 * (var(--globe-size) / 2 + var(--mya-title-font-size)*3));
	/* push stories down until after instructions scrolls past globe */
	margin-bottom: var(--globe-panel-safe-height);

	transition-property: opacity, transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
#instructions p {
	word-spacing: normal;
	margin-left: auto;
	margin-right: auto;
	max-width: 22em;
}

#instructions strong {
	color: var(--action-extralight-hex);
}

#globe-group {
	padding-top: var(--globe-vert-offset);
}

/* adjustments to globe on cover page */

/* make globe show on cover */
#globe-group.peek {
	position: fixed;
	/* draw above cover */
	z-index: 4;
	top: 100vh;
	width: 100vw;
	margin-top: calc((-0.5 * var(--globe-size)) - var(--globe-vert-offset));
	margin-left: 0;
	background: none;
}

/* transition from cover’s centered position to main position */
#globe-group.static {
	transition-property: width, margin-left;
	transition-duration: var(--initing-transition-duration, 200ms);
	transition-timing-function: ease-in-out;
}

/* styles for static state, before globe is sticked */
/* (block pointer events and dim) */

/* pointer event blocker */
#globe-group::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: var(--globe-vert-offset);
	width: var(--globe-size);
	height: var(--globe-size);
	border-radius: 100%;
	left: 50%;
	transform: translateX(-50%);
}
#globe-group.static::before {
	pointer-events: auto;
}
#globe-group #globe {
	transition-property: filter;
	transition-duration: var(--initing-transition-duration, 300ms);
	transition-timing-function: ease-in-out;
}
#globe-group:not(.peek).static #globe {
	filter: brightness(0.7);
}

/* hide all overlay elements and controls but keep globe shading */
#globe-group.static #globe-overlay > *:not(#drag-indicator),
#globe-group.static #reverse-globe,
#globe-group.static #current-map-label {
	opacity: 0;
	transition-duration: var(--initing-transition-duration, 100ms);
}
#globe-group #globe-overlay > *:not(#drag-indicator),
#globe-group #reverse-globe,
#globe-group #current-map-label {
	transition-property: opacity;
	transition-duration: var(--initing-transition-duration, 500ms);
	transition-timing-function: ease-in;
}

/* offset instructions position when globe is position: fixed */
#globe-group.peek ~ #instructions {
	margin-top: calc(var(--globe-vert-offset) + var(--globe-size) / 2);
}


#stories {
	--stroke-width: 2px;
	--stroke-padding: 8px;
	max-width: var(--stories-safe-width);
}
#stories h3 {
	font-size: 20px;
	margin: 0;
	line-height: var(--vert-rhythm);
}
#stories article {
	color: var(--white-shade-1);
	position: relative;
}
#stories article.bio {
	min-height: 100vh;
	padding: var(--vert-rhythm) var(--story-padding);
}
#stories .time {
	font-family: "CMU Serif";
	font-size: 12px;
	line-height: var(--vert-rhythm);
	color: var(--white-shade-2);
}
#stories abbr {
	font-variant-caps: all-small-caps;
	font-size: 0.9em;
	text-underline-offset: 0.3em;
	text-decoration-color: var(--white-shade-2);
}
#stories p {
	font-size: 15px;
}
#stories strong {
	color: #fff;
}
#stories em {
	font-style: italic;
	font-family: "CMU Classical Serif";
}
#stories sub {
	line-height: 1;
}
#stories hr {
	width: 3em;
	border-style: solid;
	margin: var(--vert-rhythm) 0;
}
#stories aside.geological {
	border-color: rgb(var(--land-light-rgb));
	margin-left: var(--story-padding);
	padding: calc(var(--vert-rhythm) / 2) var(--stroke-padding);
	padding-right: var(--story-padding);
	margin-bottom: calc(var(--vert-rhythm) / 2);
}
#stories aside.geological,
#stories #boring-billion {
	border-left-width: var(--stroke-width);
	border-left-style: solid;
	/* padding determines overhang distance of stroke */
	padding-top: calc(var(--vert-rhythm) / 2);
	padding-bottom: calc(var(--vert-rhythm) / 2);
}
#stories article aside.geological {
	margin-left: 0;
	padding-right: 0;
}
#stories aside.geological h3 {
	font-family: "CMU Serif";
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-size: 11px;
}
#stories aside.geological h3 + p {
	margin-top: calc(var(--vert-rhythm) / 2);
}
#stories aside.geological p:last-child {
	margin-bottom: 0;
}
/* geological event related to previous artice */
#stories article p + aside.geological {
	margin-top: calc(var(--vert-rhythm) / -2);
	padding-top: var(--vert-rhythm);
}
#stories aside.geological + h3 {
	margin-top: calc(var(--vert-rhythm) * 1.5);
}
#stories .geological.form + .geological.break {
	margin-bottom: 0;
}

#stories .map-spacer {
	/* extra space to keep last texture map on screen */
	margin-top: 50vh;
	height: 200vh;
}


#stories #snowball-earth {
	border-color: var(--white-shade-2);
}


#precambrian-intro {
	--globe-cover-translate: 80vh;
	width: 100vw;
	scroll-margin-top: var(--globe-cover-translate);
}
#precambrian-intro div {
	position: relative;
	z-index: 2;
	min-width: var(--globe-size);
	box-sizing: border-box;
	margin-left: 50%;
	padding: 5em 6em;
	transform: translate(-50%, calc(-1 * var(--globe-cover-translate)));
}


#stories #boring-billion {
	border-left-style: dashed;
	border-color: var(--grey-on-black);
	margin-left: calc(var(--story-padding) - var(--stroke-padding) - var(--stroke-width));
	padding: var(--stroke-padding);
	padding-bottom: 0;
}
#stories #boring-billion #rodinia-formation {
	padding-top: 40vh;
	margin-bottom: 120vh;
}
#stories #boring-billion #nuna-breakup {
	padding-bottom: 85vh;
}

/* no map available, reduce vertical spacing */
#stories #eukaryotes {
	margin-bottom: 50vh;
}
#stories #eukaryotes ~ article {
	min-height: initial;
	margin-bottom: calc(var(--vert-rhythm) * 10);
}
#stories #eukaryotes ~ article:last-child {
	/* make last story tall enough so references section peeks at bottom */
	/* without covering essential parts of timeline */
	min-height: calc(100vh - (var(--vert-rhythm) * 2) - var(--scrubber-vert-margin) + 1rem);
	margin-bottom: 0;
}


/* references */
#references {
	line-height: var(--vert-rhythm);
	padding: var(--story-padding);
	padding-bottom: calc(var(--story-padding) * 4);
	/* position relative and z-index to draw above timeline */
	position: relative;
	z-index: 4;
}
#references > * {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}
#references h2, #references h4 {
	font-size: 20px;
	font-weight: normal;
	line-height: 2;
	margin: 0 auto;
}
/* references title */
#references h2 {
	border-bottom: 1.5px solid rgb(var(--action-extradark-rgb));
}
#references h2 a {
	text-decoration: none;
	display: inline-block;
	width: 100%;
}
/* section dividers */
#references h3 {
	font-family: "CMU Serif";
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-size: 11px;
	padding-top: var(--vert-rhythm);
}
#references section h3, #references summary {
	margin-top: calc(var(--vert-rhythm) * 2);
	margin-bottom: var(--vert-rhythm);
	border-bottom: 1px solid var(--action-hex);
}
/* event titles */
#references h4 {
	padding-top: calc(var(--vert-rhythm) / 2);
	margin-bottom: calc(var(--vert-rhythm) / 2);
	border-bottom: 1px solid currentColor;
}
#references p {
	margin: var(--vert-rhythm) 0;
}
/* accordion title */
#references summary {
	cursor: pointer;
	position: sticky;
	top: 0;
	background-color: var(--paper-white-hex);
	color: rgb(var(--action-extradark-rgb));
}
#references summary:hover {
	border-bottom-width: 2px;
}
#references summary:not(:hover) {
	/* pad bottom to avoid content shift when border thickens */
	padding-bottom: 1px;
}
#references summary::marker {
	color: var(--action-hex);
}
#references summary:hover::marker {
	color: var(--action-dark-hex);
}
#references summary h3 {
	display: inline-block;
	border-bottom: none;
	margin: 0;
}
#references article {
	margin-bottom: var(--vert-rhythm);
}
#references article:not(:first-of-type) {
	margin-top: calc(var(--vert-rhythm) * 2);
}
#references ol {
	margin: 0;
	padding: 0;
}
#references .citation {
	--hanging-indent: 1em;
	display: block;
	margin-left: var(--hanging-indent);
	text-indent: calc(-1 * var(--hanging-indent));
	list-style: none;
	margin-bottom: var(--vert-rhythm);
}
#references cite {
	scroll-margin-top: var(--vert-rhythm);
}
cite:target {
	animation: fade-highlight 3s ease-in-out;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}
@keyframes fade-highlight {
	from {
		background-color: var(--action-extralight-hex);
	}
	to {
		background-color: transparent;
	}
}
.citation .chapter-title,
.citation .article-title {
	font-style: normal;
}
.citation .larger-work-title,
.citation cite:not(.chapter-title):not(.article-title) {
	font-style: italic;
	font-family: "CMU Classical Serif";
}
#references ul {
	margin-top: 0;
}


/* stacked layout (too narrow and tall enough to stack) */
@media (width < 500px), (width < 1024px) and (height > 500px) {
	html {
		--globe-clear-height: 2rem;
		--stories-safe-width: 35rem;
		--globe-max-width: calc(100vw - var(--globe-clear-height)*1.5 - var(--timeline-safe-width));
		--globe-max-height: calc(100vh - 20rem);
		--globe-panel-safe-height: calc(var(--globe-group-height) + var(--globe-clear-height));
		--globe-vert-offset: var(--globe-clear-height);
	}
	#globe-group {
		/* globe panel covers top section, do not show text behind globe */
		background-color: inherit;
		width: calc(100% - var(--timeline-safe-width));
	}
	#current-map-label {
		width: 61.8%; /* 1 / 1.618 */
		max-width: 20rem;
		border-bottom: 1px solid #666;
	}
	#reverse-globe {
		/* align left with stories when stacked */
		left: max(0px, (100% - var(--stories-safe-width))/2);
		margin-left: var(--story-padding);
	}
	#instructions {
		--safe-width-right: var(--timeline-safe-width);
		/* delay fade-in until after globe is in position */
		transition-delay: 200ms;
	}
	#stories {
		padding-right: var(--timeline-safe-width);
		margin: 0 auto;
		/* push stories down when stacked to keep map on 0 mya longer */
		padding-top: 6rem;
	}
	#stories article, #stories aside.geological {
		scroll-margin-top: var(--globe-panel-safe-height);
	}
	#stories article.bio {
		min-height: min(100vh - var(--globe-panel-safe-height), 40em);
	}
	#stories p {
		font-size: 1rem;
	}
	#stories .map-spacer {
		height: 15em;
	}
	#precambrian-intro {
		--globe-cover-translate: calc(var(--globe-panel-safe-height) + 480px);
		width: auto;
		min-height: 0;
		margin-top: calc(var(--globe-cover-translate));
		margin-bottom: calc(5em - var(--globe-cover-translate) + var(--globe-panel-safe-height));
	}
	#precambrian-intro div {
		padding: 2em;
	}
	#stories #boring-billion .geological.break + .geological.form:not(:last-child) {
		margin-bottom: 25em;
	}
	#stories #eukaryotes ~ article:last-child {
		/* push references section down until peeking at viewport bottom */
		min-height: calc(100vh - var(--globe-panel-safe-height) - var(--vert-rhythm) * 5);
	}
	@supports not (width: min(1px, 0px)) {
		html {
			--globe-size: var(--globe-max-width);
		}
		/* wider (i.e. shorter) than 3:4 */
		@media (min-aspect-ratio: 3/4) {
			html {
				--globe-size: var(--globe-max-height);
			}
		}
		#stories article.bio {
			min-height: 40em;
		}
	}
}
/* not on wide screen, and not stacked */
@media (width >= 500px) and (width < 1024px) and (height <= 500px) {
	/* offset globe position for left text */
	#globe-group {
		margin-left: var(--stories-safe-width);
		width: calc(100% - var(--stories-safe-width) - var(--timeline-safe-width));
	}
	#instructions {
		--safe-width-left: var(--stories-safe-width);
		--safe-width-right: var(--timeline-safe-width);
		/* delay fade-in until after globe is in position */
		transition-delay: 200ms;
	}
}
/* not wide enough to show event labels (condensed timeline) */
@media (width < 700px), (width < 1024px) and (height <= 500px) {
	html {
		--story-padding: 1rem;

		/* do not account for label width in safe area */
		--timeline-safe-width: var(--event-marker-position-right);
		/* more vertical margin in case of floating mobile browser chrome */
		--scrubber-vert-margin: 4.5rem;
		/* thin timeline */
		--scrubber-width: 24px;
		/* reduce margin since mya labels are hidden */
		--event-marker-clear-width: 10px;
	}
}
@supports not (width: min(1px, 0px)) {
	html {
		--max-spacer-height: 225vw;
		--mya-title-font-size: 1.25rem;
	}
	@media (height < 225vw) {
		html {
			--max-spacer-height: 100vh;
		}
	}
	@media (width < 410px) {
		html {
			--mya-title-font-size: calc(9.5vmin - 19px);
		}
	}
	#instructions {
		--max-width: 29em;
	}
}

@media not (prefers-reduced-motion) {
	html {
		scroll-behavior: smooth;
	}
	#stories {
		transition: opacity 500ms;
	}
	#stories.switching {
		opacity: 0.2;
		transition-duration: 100ms;
	}
}

/* hack to keep position: sticky working on firefox <69 */
/* https://bugzilla.mozilla.org/show_bug.cgi?id=1560237 */
@supports not (contain: none) {
	html {
		scroll-behavior: auto;
	}
}
