@import 'timeline.css';
@import 'globe.css';

@font-face {
	font-family: "Philibert Italic";
	src: 
		local("Philibert-Italic"), 
		url("../assets/fonts/PhiliItaRus.woff") format("opentype");
	font-weight: 300;
}
html {
	--white-shade-1: #E5E5E5;
	--white-shade-2: #C4C4C4;
	font-family: sans-serif;
	font-size: 16px;
}
body {
	margin: 0;
	overflow-x: hidden;
	background: black;
	color: #fff;
}

h1, h2 {
	font-family: "Philibert Italic";
}

canvas, svg {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}


#current-map-label {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

#stories {
	max-width: 22rem;
	padding-bottom: 100vh;
}
#stories h2 {
	font-size: 20px;
	margin: 0;
	line-height: 1em;
}
#stories article {
	margin: 50vh 0;
	color: var(--white-shade-1);
	padding: 2.5rem;
	position: relative;
	background-color: #3219;
}
#stories .time {
	font-family: "CMU Serif";
	font-size: 12px;
}
#stories .time abbr {
	font-size: 8px;
	font-weight: bold;
	text-underline-offset: 0.3em;
	text-decoration-color: var(--white-shade-2);
	text-transform: uppercase;
}
#stories p {
	font-family: "CMU Serif";
	font-size: 15px;
	line-height: 20px;
	word-spacing: -2px;
	hyphens: manual;
}

@media not (prefers-reduced-motion) {
	html {
		scroll-behavior: smooth;
	}
	#stories {
		transition: opacity 500ms;
	}
	#stories.switching {
		opacity: 0.2;
		transition-duration: 100ms;
	}
}
