#timeline {
	--vert-margin: 3rem;
	--scrubber-full-width: 140px;
	--scrubber-offscreen-width: (var(--scrubber-full-width) - var(--scrubber-width));
	--expansion-duration: 150ms;
	--expansion-easing: ease-in-out;
	--bg-rgb: 62, 62, 62;
	--swiping-opacity: 0.5;
	--expanded-opacity: 0.8;
	--expansion-percent: 0;
	height: calc(100vh - 2*var(--vert-margin));
	position: fixed;
	top: var(--vert-margin);
	left: 100%;
	color: var(--white-shade-1);
	z-index: 3;
	pointer-events: none;
	touch-action: pinch-zoom;

	transition: transform var(--expansion-duration) var(--expansion-easing);
}
#timeline ol {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	height: 100%;
}
#timeline li {
	position: absolute;
}
#timeline .label {
	font-family: "CMU Serif";
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1em;
}
@media (max-width: 700px) {
	#timeline {
		--vert-margin: 4.5rem;
	}
}

#timeline-toggle {
	--button-diameter: 4.5em;
	--expand-text-width: 8.5em;
	background-color: rgb(var(--bg-rgb));
	border: none;
	height: var(--button-diameter);
	border-radius: var(--button-diameter);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: calc(8px - var(--vert-margin)); /* 8px from screen top */
	left: calc(-1 * var(--scrubber-width) - var(--button-diameter)/2);
	width: calc(var(--scrubber-full-width) + var(--button-diameter));
	padding: 0;
	z-index: 1;
	transition: transform var(--expansion-duration) var(--expansion-easing);
	pointer-events: auto;
	cursor: pointer;

	display: none;
}
/* border inset from edge */
#timeline-toggle::before {
	--padding: 2px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	margin: var(--padding);
	box-sizing: border-box;
	width: calc(100% - var(--padding)*2);
	height: calc(100% - var(--padding)*2);
	border: 1px solid var(--action-colour);
	border-radius: inherit;
}
#timeline-toggle span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: opacity var(--expansion-duration) var(--expansion-easing);
}
#timeline-toggle .expand-label {
	left: 0;
	text-align: right;
	width: var(--expand-text-width);
	word-spacing: 100vw; /* hack to break every word into own line */
}
#timeline-toggle .collapse-label {
	right: 0;
	text-align: right;
	margin-right: calc(var(--button-diameter)/2);
	padding-right: 16px;
}
#timeline-toggle .expand-label::before, 
#timeline-toggle .collapse-label::after {
	background-color: var(--action-colour);
	content: '';
	display: inline-block;
	mask-image: url("data:image/svg+xml,%3Csvg width='6' height='27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13.25 6 0 3 13.25 6 26.5 0 13.25Z'/%3E%3C/svg%3E");
	width: 6px;
	height: 27px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#timeline-toggle .expand-label::before {
	left: 8px;
} 
#timeline-toggle .collapse-label::after {
	right: 5px;
	transform: translateY(-50%) rotate(180deg);
}
#timeline-toggle [aria-hidden="true"] {
	opacity: 0;
}

/* Map selector */
#maps-list {
	position: absolute;
	top: 0;
	left: calc(-1 * var(--scrubber-width));
	cursor: pointer;
	width: var(--scrubber-full-width);
	background-color: rgba(var(--bg-rgb), calc(
		1 - (var(--expansion-percent) * (1 - var(--expanded-opacity)))
	));
	pointer-events: auto;
	touch-action: pinch-zoom;
	user-select: none; /* prevent text selection on drag */
}
#maps-list::before, #maps-list::after {
	content: '';
	display: block;
	position: absolute;
	background-color: inherit;
	height: var(--vert-margin);
	width: inherit;
}
#maps-list::before {
	bottom: 100%;
}
#maps-list::after {
	top: 100%;
}
#maps-list li {
	height: 0;
	width: 100%;
}
/* map indicator lines */
#maps-list a {
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;

	display: block;
	height: 0;
	width: 100%;
	right: 0;
	border-bottom: 1.5px solid var(--page-bg);
	pointer-events: none;
}
#maps-list a.selected {
	border-color: var(--action-colour);
	/* selected indicator should appear above others */
	position: relative;
	z-index: 1;
}
@media (hover: hover) {
	#maps-list:hover a.hovering:not(.selected) {
		opacity: 0.5;
		border-color: var(--action-colour);
	}
}
@media (pointer: coarse) {
	/* lengthen indicator so it is not covered by fingers */
	#timeline.dragging #maps-list a.selected {
		width: calc(100% + 40px);
		margin-left: -40px;
	}
}

/* List of biological events next to timeline */
#timeline #life-events-list {
	right: calc(var(--scrubber-width) + var(--life-events-list-margin));
	position: absolute;

	font-family: "CMU Classical Serif";
	font-size: 14px;
	font-weight: 300;
	line-height: 100%;
	word-spacing: -2px; /* CMU Classical has wide spaces between words */
}
#timeline #life-events-list li {
	transform: translateY(-50%);
	right: 0;
	pointer-events: auto;
}
#timeline #life-events-list a {
	--marker-size: 6px;
	--marker-padding: 6px;
	text-decoration: underline;
	text-decoration-color: var(--action-colour);
	color: var(--white-shade-2);
	display: block;
	padding: 5px 10px;
	padding-right: calc(var(--marker-size) + var(--marker-padding)*2);
	white-space: nowrap;
	overflow: hidden;
	max-width: 12em;
	transition: all var(--expansion-duration) var(--expansion-easing);
	transition-property: max-width, text-indent, padding, color, background-color, transform;
}
#timeline:not(.expanded-overlay):not(.dragging) #life-events-list a {
	background-color: rgb(var(--page-bg-rgb), 0.75);
}
#timeline #life-events-list a:hover,
#timeline.expanded-overlay:not(.dragging) #life-events-list a {
	color: #fff;
}
#timeline #life-events-list a::after {
	content: '';
	display: inline-block;
	height: var(--marker-size);
	width: var(--marker-size);
	background-color: var(--action-colour);
	border-radius: 100%;
	position: absolute;
	right: var(--marker-padding);
	margin-top: calc((1em - var(--marker-size))/2);
	transition: background-color 100ms ease-in-out;
}
#timeline #life-events-list li.current a::after {
	background-color: var(--white-shade-1);
}
@media (max-width: 700px) {
	#timeline:not(.expanded-overlay) #life-events-list:not(.hovering) a {
		text-indent: calc(100% + var(--marker-size) + var(--marker-padding)*2);
		max-width: 0;
		color: transparent;
		padding-right: 10px;
	}
}

/* MYA labels */
#timeline .axis-labels .label {
	position: absolute;
	transform: translateY(-50%);
	right: calc(var(--scrubber-width) + 2px);
	color: #919191;
	text-align: right;
}
#timeline .axis-labels .title {
	font-size: 9px;
	word-spacing: 100vw; /* hack to break every word into own line */
	text-transform: none;
	transform: none;
	bottom: calc(32px - var(--vert-margin)); /* 32px from bottom of viewport */
}
#timeline .axis-labels .label:not(.cursor) {
	transition-property: opacity, transform;
	transition-duration: 200ms;
}
#timeline .axis-labels .label.cursor {
	top: 0;
}
#timeline #maps-list:not(:hover)~.axis-labels .label.cursor {
	opacity: 0;
}
#timeline #maps-list:hover~.axis-labels .label:not(.title).obscured {
	opacity: 0;
}
#timeline #maps-list:hover~.axis-labels .label.title.obscured {
	transform: translateY(75%);
}
@media (max-width: 700px) {
	#timeline:not(.expanded-overlay) .axis-labels .label {
		opacity: 0;
	}
}

#supercontinents-list, #periods-list {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

/* Supercontinents */
ol#supercontinents-list {
	margin-left: 3px;
	left: calc(100% - var(--scrubber-width));
}
/* indicator strip */
#supercontinents-list li {
	--indicator-rgb: 101, 64, 48;
	--indicator-width: 4px;
	--default-fade-height: 0.7em;
	width: var(--indicator-width);
	background-color: rgb(var(--indicator-rgb));
}
#supercontinents-list li::before, 
#supercontinents-list li::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	background-image: linear-gradient(var(--gradient));
}
#supercontinents-list li::before {
	--gradient: rgba(var(--indicator-rgb), 0), rgb(var(--indicator-rgb));
	bottom: 100%;
	height: var(--post-height, var(--default-fade-height));
}
#supercontinents-list li::after {
	--gradient: rgb(var(--indicator-rgb)), rgba(var(--indicator-rgb), 0);
	top: 100%;
	height: var(--pre-height, var(--default-fade-height));
}

#supercontinents-list li .label {
	letter-spacing: 0.3em;
	font-style: normal;
	writing-mode: vertical-lr;
	position: absolute;
	top: 50%;
	left: calc(var(--indicator-width) + 2px);
	transform: translateY(-50%);
}
#supercontinents-list li:last-child .label {
	top: 0;
	transform: none;
}
@media (max-width: 700px) {
	ol#supercontinents-list {
		margin-left: 0;
	}
}

/* Geological periods */
ol#periods-list {
	--padding-right: 4px;
	padding-right: var(--padding-right); /* padding instead of margin, to detect hovers at viewport edge */
	width: 16px; /* width for hover detection */
	transform: translateX(calc(var(--scrubber-offscreen-width)));
	transition: transform var(--expansion-duration) var(--expansion-easing);
}
#periods-list li {
	width: 2px;
	background-color: rgba(255,255,255,0.5);
	right: var(--padding-right);
	margin-top: 2px;
	margin-bottom: 2px;
}
#periods-list li .label {
	font-family: "CMU Classical Serif";
	position: absolute;
	right: 7px;
	bottom: 0;
	color: var(--white-shade-2);
	letter-spacing: 0.05em;
	transition-property: transform, opacity;
	transition-duration: var(--expansion-duration);
	transition-timing-function: var(--expansion-easing);
}

@media (min-width: 701px) {
	/* Wide screen with geological periods hidden */
	#timeline:not(.show-periods) #periods-list {
		transform: none;
	}
	#timeline:not(.show-periods) #periods-list li .label {
		opacity: 0;
		transform: translateX(100%);
	}
	@media (hover: hover) {
		#timeline:not(.show-periods) ol#periods-list {
			pointer-events: auto;
		}
	}

	/* Full-width state with geological periods */
	#timeline.show-periods {
		transform: translateX(calc(-1 * var(--scrubber-offscreen-width)));
	}
}

/* Expanded state on narrower screens */
@media (max-width: 700px) {
	#timeline {
		transform: translateX(calc( -1 * var(--expansion-percent) * var(--scrubber-offscreen-width) ));
	}
	#timeline.dragging,
	#timeline.dragging::before,
	#timeline.dragging::after,
	#timeline.dragging #timeline-toggle {
		transition-duration: 0ms;
	}

	/* overlay shade behind life events */
	#timeline::before {
		content: '';
		position: absolute;
		right: var(--scrubber-width);
		top: calc(-1 * var(--vert-margin));
		width: 100vw;
		height: 100vh;
		background-color: var(--page-bg);
		opacity: calc(var(--expansion-percent) * var(--expanded-opacity));
		transition: opacity var(--expansion-duration) var(--expansion-easing);
	}
	#timeline.expanded-overlay::before {
		pointer-events: auto;
	}
	#timeline.expanded-overlay.dragging::before {
		opacity: var(--swiping-opacity);
	}

	#timeline.expanded-overlay.dragging #maps-list {
		/*background-color: rgba(var(--bg-rgb), var(--swiping-opacity));*/
	}

	/* trim at edge of screen */
	#timeline::after {
		content: '';
		position: absolute;
		top: calc(-1 * var(--vert-margin));
		right: 0;
		height: 100vh;
		border-right: 1px solid var(--action-colour);
		border-width: calc(1px + var(--expansion-percent) * 4px);
		z-index: 1;
		transform: translateX(calc( var(--expansion-percent) * var(--scrubber-offscreen-width) ));
		transition: all var(--expansion-duration) var(--expansion-easing);
		transition-property: opacity, transform, border-width;
		box-shadow: -2px 0 4px rgba(0, 0, 0, 0.5);
	}
	#timeline.expanded-overlay::after {
		opacity: 0;
	}

	/* expand button */
	#timeline-toggle {
		display: block;
	}
	/* expand button position in collapsed state */
	#timeline #timeline-toggle {
		transform: translateX(calc(
			(1 - var(--expansion-percent)) * 
			(-6px + var(--button-diameter)/2 + var(--scrubber-width) - var(--expand-text-width)) 
		));
	}


	#timeline.expanded-overlay #life-events-list {
		transform: translateX(-1.25em);
	}

	/* dim background elements when timeline is overlaid */
	#timeline.expanded-overlay ~ #stories {
		opacity: 0.3;
	}
	#timeline.expanded-overlay ~ #globe-group #current-map-label {
		opacity: 0.5;
	}
}
