#timeline {
	--vert-margin: 3em;
	--scrubber-width: 48px;
	height: calc(100% - 2*var(--vert-margin));
	position: absolute;
	top: var(--vert-margin);
	right: 0;
}
#timeline ol {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	height: 100%;
}
#timeline li {
	position: absolute;
	right: 0;
}
#timeline #maps-list {
	position: absolute;
	right: 0;
	cursor: pointer;
	width: var(--scrubber-width);
	background-color: #fff2;
}
#timeline #maps-list:not(:hover) {
	opacity: 0.8;
}
#maps-list li {
	height: 0;
	width: 100%;
}
#maps-list a {
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;

	display: block;
	height: 0;
	width: var(--scrubber-width);
	border-bottom: 1px solid #fff;
}
#maps-list a:not(.selected) {
	opacity: 0.2;
}
