#timeline {
	--vert-margin: 3rem;
	--scrubber-width: 64px;
	--scrubber-expanded-width: 140px;
	--expansion-duration: 150ms;
	--expansion-easing: ease-in-out;
	--dimmed-white: #C4C4C4;
	height: calc(100% - 2*var(--vert-margin));
	position: absolute;
	top: var(--vert-margin);
	right: 0;
	color: #E5E5E5;

	transition: transform var(--expansion-duration) var(--expansion-easing);
}
#timeline ol {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	height: 100%;
}
#timeline li {
	position: absolute;
}
#timeline .label {
	font-family: "CMU Serif";
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1em;
}

/* Map selector */
#maps-list {
	position: absolute;
	top: 0;
	left: calc(100% - var(--scrubber-width));
	cursor: pointer;
	width: var(--scrubber-expanded-width);
	background-color: #fff2;
}
#maps-list:not(:hover) {
	opacity: 0.8;
}
#maps-list li {
	height: 0;
	width: 100%;
}
/* map indicator lines */
#maps-list a {
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;

	display: block;
	height: 0;
	width: 100%;
	border-bottom: 1px solid #fff;
}
#maps-list a:not(.selected) {
	opacity: 0.2;
}
#maps-list:hover a.hovering:not(.selected) {
	opacity: 0.5;
}

/* List of events next to timeline */
#timeline #life-events-list {
	width: 12em;
	margin-right: calc(var(--scrubber-width) + 32px);
	position: relative;

	font-family: "CMU Classical Serif";
	font-size: 14px;
	font-weight: 300;
	line-height: 100%;
	word-spacing: -2px; /* CMU Classical has wide spaces between words */
}
#timeline #life-events-list li {
	transform: translateY(-50%);
	right: 0;
}
#timeline #life-events-list a {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 5px 10px;
	margin-right: -10px;
}
#timeline #life-events-list a:hover {
	color: #fff;
	text-decoration: underline;
}
#timeline #life-events-list a::after {
	content: '';
	display: inline-block;
	height: 6px;
	width: 6px;
	background-color: #fff;
	border-radius: 100%;
	margin-left: 6px;
}

/* MYA labels */
#timeline .axis-labels .label {
	position: absolute;
	transform: translateY(-50%);
	right: calc(var(--scrubber-width) + 2px);
	color: #919191;
	text-align: right;
}
#timeline .axis-labels .title {
	font-size: 9px;
	word-spacing: 100vw; /* hack to break every word into own line */
	text-transform: none;
	transform: none;
	bottom: calc(32px - var(--vert-margin)); /* 32px from bottom of viewport */
}
#timeline .axis-labels .label:not(.cursor) {
	transition-property: opacity, transform;
	transition-duration: 200ms;
}
#timeline .axis-labels .label.cursor {
	top: 0;
}
#timeline #maps-list:not(:hover)~.axis-labels .label.cursor {
	opacity: 0;
}
#timeline #maps-list:hover~.axis-labels .label:not(.title).obscured {
	opacity: 0;
}
#timeline #maps-list:hover~.axis-labels .label.title.obscured {
	transform: translateY(75%);
}

#supercontinents-list, #periods-list {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

/* Supercontinents */
ol#supercontinents-list {
	margin-left: 3px;
	left: calc(100% - var(--scrubber-width));
	pointer-events: none;
}
/* indicator strip */
#supercontinents-list li {
	--indicator-rgb: 101, 64, 48;
	--indicator-width: 4px;
	--default-fade-height: 0.7em;
	width: var(--indicator-width);
	background-color: rgb(var(--indicator-rgb));
}
#supercontinents-list li::before, 
#supercontinents-list li::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	background-image: linear-gradient(var(--gradient));
}
#supercontinents-list li::before {
	--gradient: rgba(var(--indicator-rgb), 0), rgb(var(--indicator-rgb));
	bottom: 100%;
	height: var(--post-height, var(--default-fade-height));
}
#supercontinents-list li::after {
	--gradient: rgb(var(--indicator-rgb)), rgba(var(--indicator-rgb), 0);
	top: 100%;
	height: var(--pre-height, var(--default-fade-height));
}

#supercontinents-list li .label {
	letter-spacing: 0.3em;
	font-style: normal;
	writing-mode: vertical-lr;
	position: absolute;
	top: 50%;
	left: calc(var(--indicator-width) + 2px);
	transform: translateY(-50%);
}
#supercontinents-list li:last-child .label {
	top: 0;
	transform: none;
}

/* Geological periods */
ol#periods-list {
	--padding-right: 4px;
	padding-right: var(--padding-right); /* padding instead of margin, to detect hovers at viewport edge */
	width: 16px; /* width for hover detection */
	transition: transform var(--expansion-duration) var(--expansion-easing);
}
#periods-list li {
	width: 2px;
	background-color: rgba(255,255,255,0.5);
	right: var(--padding-right);
	margin-top: 2px;
	margin-bottom: 2px;
	pointer-events: none;
}
#periods-list li .label {
	font-family: "CMU Classical Serif";
	position: absolute;
	right: 7px;
	bottom: 0;
	color: var(--dimmed-white);
	letter-spacing: 0.05em;
	transition-property: transform, opacity;
	transition-duration: var(--expansion-duration);
	transition-timing-function: var(--expansion-easing);
}

/* Expanded state with geological periods */
#timeline.expanded {
	transform: translateX(calc(var(--scrubber-width) - var(--scrubber-expanded-width)));
}
#timeline.expanded #periods-list {
	transform: translateX(calc(var(--scrubber-expanded-width) - var(--scrubber-width)));
	pointer-events: none;
}
#timeline:not(.expanded) #periods-list li .label {
	opacity: 0;
	transform: translateX(100%);
}
